body {
    text-align: center;
    
    background-image: linear-gradient(to right, #99ccff, #00ffcc);
}
h5{
    font-family: 'Chilanka', cursive;
    font-size: 35px;
}

i{
    margin-left: 15px;
    font-size: 27px;
}
#welcome {
    padding-bottom: 20px;
    padding-top: 20px;
    margin-bottom: 5px;
}

#textbox {
    width: 450px;
    height: 100px;
    text-align: center;
    line-height: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#submit-btn{
    width: 450px;
    margin-left: 520px;
}

#bin-head, #dev-head 
#bin-container, 
#devour-container {
    width: 600px;
    padding-top: 0px;
}

#bin-container, 
#devour-container {
padding-bottom: 50px;
}

#load {
    display: none;
}

#pic {
    margin-top: 50px;
    height: 250px;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    padding-right:40px;
    padding-left:70px;
}

#break {
    padding: 40px;
}

#dev-head {
    background-color: brown;
}

#inner-main {
    padding: 15px;
    height: 200px;
}

#bin-head {
    background-color: darkcyan;
}

#main, #bin-container, 
#devour-container, #textbox, 
#bin-head, #dev-head {
    border-radius: 5px;
    border-color: black;
    padding: 0px;
    border-width: 1px;
}